
= form_for [@article, @article.comments.build], remote: true do |form|
  %p
    = form.label :commenter
    %br/
    = form.text_field :commenter
  %p
    = form.label :body
    %br/
    = form.text_area :body, placeholder: "Nhập Nội Dung Cho Comment."
  %p
    = form.submit
