
= form_for [@article, @article.comments.build], :html => {:class => 'form-comment'}, remote: true do |form|

  %p
    = form.label "Name"
    %br/
    = form.text_field :commenter, :id => "comment_name", require:true

  %p
    = form.label "Star: "

    = form.select(:status, options_for_select([['1 sao', '1'], ['2 sao', '2'], ['3 sao', '3'], ['4 sao', '4'], ['5 sao', '5']], ['1 sao', '1']), :id => "comment_status")

  %p
    = form.label "Comment"
    %br/
    = form.text_area :body, :id => "comment_content", placeholder: "Please enter your comment.", require:true
  %p
    = form.submit "Create Comment", :id => "commentSub"
