.main
  %label FirstName:
  %strong= @Customer.contactFirstName
  %br/

  %label LastName:
  %strong= @Customer.contactLastName
  %br/

  %label Phone:
  %strong= @Customer.phone
  %br/

  %label Company Name:
  %strong= @Customer.customerName
  %br/

  %label City:
  %strong= @Customer.city
  %br/

  %label Country:
  %strong= @Customer.country
  %br/
