%label{:for => ""} FirstName:
%strong= @Customer.contactFirstName
%br/
%label{:for => ""} LastName:
%strong= @Customer.contactLastName
%br/
%label{:for => ""} Phone:
%strong= @Customer.phone
%br/
%label{:for => ""} Address:
%strong= @Customer.addressLine1
%br/
%label{:for => ""} City:
%strong= @Customer.city
%br/
%label{:for => ""} State:
%strong= @Customer.state
%br/
%label{:for => ""} Country:
%strong= @Customer.country
%br/
